* {
    margin: 0;
    padding: auto 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    width: 100%;
    padding: 100px 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%)
}

.container {
    display: grid;
    grid-template-columns: 100%;
    min-width: 550px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 1px #0000024;
}

.col-1 h1 {
    color: hsl(179, 62%, 43%);
    margin: 20px;
}

.col-1 h3 {
    color: hsl(71, 73%, 54%);
    margin: 20px;
}

.col-1 {
    background-color: white;
}

.col-2 {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.col-2 h3 {
    margin: 20px;
}

.col-2 p {
    margin: 20px;
}

.btn {
    background-color: hsl(71, 73%, 54%);
    margin: 2px;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
}

.col-3 {
    background-color: hsl(179, 50%, 49%);
    color: white;
}

.col-3 h3 {
    margin: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width:768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .col-1 {
        grid-area: 1/1/2/3;
    }
}